name: CI
on: push
jobs:
  linting:
    runs-on: ubuntu-latest
    name: Linting of Ruby files
    steps:
      - uses: zendesk/checkout@v2
      - name: Install Ruby, Bundler and gems
        uses: zendesk/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - run: bundle exec rake rubocop

  tests:
    runs-on: ubuntu-latest
    name: rake test Gemfile ${{ matrix.gemfile }} and Ruby ${{ matrix.ruby-version }} (LCH ${{ matrix.legacy_connection_handling }})
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        options: >-
          --health-cmd "mysql -uroot -e 'show databases'"
          --health-interval 2s
          --health-timeout 1s
          --health-retries 10
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - 2.6
          - 2.7
          - 3.0
          - 3.1
        gemfile:
          - rails5.1
          - rails5.2
          - rails6.0
          - rails6.1
          - rails7.0
        legacy_connection_handling:
          - "false"
        include:
          - ruby-version: "2.6"
            gemfile: rails6.1
            legacy_connection_handling: "true"
          - ruby-version: "2.7"
            gemfile: rails6.1
            legacy_connection_handling: "true"
          - ruby-version: "3.0"
            gemfile: rails6.1
            legacy_connection_handling: "true"
          - ruby-version: "3.1"
            gemfile: rails6.1
            legacy_connection_handling: "true"
          - ruby-version: "2.7"
            gemfile: rails7.0
            legacy_connection_handling: "true"
          - ruby-version: "3.0"
            gemfile: rails7.0
            legacy_connection_handling: "true"
          - ruby-version: "3.1"
            gemfile: rails7.0
            legacy_connection_handling: "true"
        exclude:
          - ruby-version: "3.0"
            gemfile: rails5.1
          - ruby-version: "3.0"
            gemfile: rails5.2
          - ruby-version: "3.0"
            gemfile: rails6.0
          - ruby-version: "3.1"
            gemfile: rails5.1
          - ruby-version: "3.1"
            gemfile: rails5.2
          - ruby-version: "3.1"
            gemfile: rails6.0
          - ruby-version: "2.6"
            gemfile: rails7.0
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      LEGACY_CONNECTION_HANDLING: "${{ matrix.legacy_connection_handling }}"
    steps:
      - uses: zendesk/checkout@v2
      - name: Install Ruby, Bundler and gems
        uses: zendesk/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Create user 'john-doe' in MySQL
        run: mysql --host 127.0.0.1 --port 3306 -uroot -e "CREATE USER 'john-doe'; GRANT SELECT,INSERT,UPDATE,DELETE,CREATE,DROP,INDEX ON *.* TO 'john-doe'; FLUSH PRIVILEGES;"
      - run: bundle exec rake test
