name: CI
on: push
jobs:
  linting:
    runs-on: ubuntu-latest
    name: Linting of Ruby files
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby, Bundler and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.2"
          bundler-cache: true
      - run: bundle exec standardrb

  tests:
    runs-on: ubuntu-latest
    name: Test ${{ matrix.gemfile }} with Ruby ${{ matrix.ruby-version }} & ${{ matrix.adapter_mysql }}
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        gemfile:
          - rails7.2
          - rails8.0
          - rails8.1
        adapter_mysql:
          - mysql2
          - trilogy
        include:
          - {ruby-version: "3.4", gemfile: "rails_main", adapter_mysql: "mysql2"}
          - {ruby-version: "3.4", gemfile: "rails_main", adapter_mysql: "trilogy"}
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      TEST_ADAPTER_MYSQL: ${{ matrix.adapter_mysql }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Ruby, Bundler and gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - run: bundle exec rake test

  tests_successful:
    name: Tests passing?
    needs: tests
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.tests.result == 'success' }}
          then
            echo "All tests passed"
          else
            echo "Some tests failed"
            false
          fi
